backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
decorator==4.0.6
dominate==2.1.16
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-WTF==0.12
ipykernel==4.1.1
ipython==4.0.1
ipython-genutils==0.1.0
ipywidgets==4.1.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
lxml==3.5.0
MarkupSafe==0.23
mistune==0.7.1
monkeylearn==0.2.1
nbconvert==4.1.0
nbformat==4.0.1
nltk==3.1
notebook==4.0.6
numpy==1.10.2
path.py==0.0.0
pdfminer==20140328
pexpect==3.3
pickleshare==0.5
prettyprint==0.1.5
progress==1.2
ptyprocess==0.5
pyenchant==1.6.6
Pygments==2.0.2
PyYAML==3.11
pyzmq==15.1.0
qtconsole==4.1.1
requests==2.9.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
terminado==0.5
tornado==4.3
tqdm==3.4.0
traitlets==4.0.0
visitor==0.1.2
Werkzeug==0.11.3
wheel==0.26.0
WTForms==2.1
